services:
  - type: web
    name: disease-detection
    runtime: python
    plan: free
    buildCommand: |
      python --version
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: gunicorn --config gunicorn_config.py app:app
